.remove-btn, .play-btn, .stop-btn {
    margin-right: 5px;
    cursor: pointer;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.camera {
    display: block;
    padding-top: 5px;
    width: 600px;
}
